* {
    margin: 0;
    padding: 0;
    }
    h1 {
    color: #4286f4;
    margin-top: 15px;
    margin-bottom: 15px;

    }
    span {
        color: #4286f4;
    }
    div {
    text-align: center;
    max-width: 95%;
    margin: 0 auto;
    }
    input {
    max-width: 100%;
    margin: 10px;
    padding: 13px 10px;
    border-radius: 30px;
    border: 1px solid #4286f4;
    box-shadow: 1px 0.5px #888888;
    font-size: 18px;
    outline: 0;
    }
    button {
        padding: 15px 40px;
        color: #4286f4;
        border-radius: 40px;
        border:0;
        margin-bottom: 10px;
        text-transform: uppercase;
        background: none;
        box-shadow: inset 0 0 0 3px #4286f4;
        cursor: pointer;
        transition: 1s box-shadow, 1s 0.2s color;
        outline: 0;
        margin-bottom: 20px;
    }
    button:hover{
        box-shadow: inset 0 0 0 30px #4286f4;
        color: white;
    }

    select {
        padding: 5px 5px;
        margin-bottom: 20px;
        border: 1px solid #4286f4;
        border-radius: 5px;
        outline: 0;
    }
   
    .lists {
        border: 1px solid black;
        display: block;
        max-width: 500px;
        margin-bottom: 30px;
        /* background-color: rgb(000, 000, 0, 0.2); */
        -webkit-box-shadow: 0 0 5px 5px #4286f4;
        box-shadow: 0 0 5px 5px #4286f4;
        border-radius: 30px;
        padding: 10px;
        /* box-sizing: border-box; */
    }


    .lists > h1 {
        color: black;
    }
    ul {
        margin: 10px;
    }
    li {
        list-style-type: none;
        
    }
    p {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }
